body {
    margin: 2% 5%;
}

body,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5vw;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 3vw;
}

input[type="number"] {
    width: 3em;
    display: block;
}

input[type=text] {
    width: 5em;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus,
input[type=text]:not(:placeholder-shown) {
    width: 10em;
}

button {
    margin-top: 2%;
    margin-bottom: 2%;
}

#statContainer {
    width: 100%;
}

#combatCalc {
    width: 30%;
    float: left;
    display: inline;
    padding-left: 5%;
}

#showAllStats {
    width: 70%;
    display: inline-block;
    white-space: nowrap;
}

#players {
    display: inline-block;
    text-align: right;
}

#title {
    width: 50%;
    display: inline-block;
    margin-bottom: 5%;
}

#skillRankings {
    margin-top: 5%;

}

#highestRankingSkill,
#highestExperienceSkill,
#clueScrolls {
    margin-top: 2%;
    display: inline-block;
    width: 50%;
}

.icon {
    margin-right: 10px;
    width: 23px;
    height: 23px;
}

ul.leftColSkill {
    display: inline-block;
    width: 50%;
    list-style-type: none;
    padding: 0;
}

ul.rightColSkill {
    display: inline-block;
    float: right;
    width: 50%;
    list-style-type: none;
    padding: 0;
}